page-info {
    .desc {
    	font-size: 15px !important;
    }
    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }
    .list {
      margin-bottom: 0 !important;
    }

    .list-ios {
      margin-bottom: 0 !important;
    }
}
