<ion-view title="Evacuate" id="page3" style="background-color:#2184C0;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="evacuate-card21">
      <ion-item class="item-icon-right assertive" id="evacuate-list-item3">Location: UP DCS
        <i class="icon ion-ios-location"></i>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/6aDtRvASjG4D4B1zWSo7_ScreenShot2017-01-17at11.05.58AM.png" style="display: block; width: 100%; height: 90%; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <ion-list id="evacuate-list4">
      <ion-item class="item-icon-left item-icon-right assertive" id="evacuate-list-item23">
        <i class="icon ion-ios-star"></i>KNL COURT
        <span class="item-note">350/500</span>
        <i class="icon ion-android-locate icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="evacuate-list-item21">UP CHK Gym
        <span class="item-note">400/475</span>
        <i class="icon ion-android-locate icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="evacuate-list-item22">Pook Dagohoy
        <span class="item-note">270/300</span>
        <i class="icon ion-android-locate icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>