<ion-view title="Resource" id="page2" style="background-color:#2184C0;">
  <ion-content padding="true" class="has-header">
    <ion-list id="resource-list2">
      <ion-toggle toggle-class="toggle-assertive" id="resource-toggle1" class="padding">3 Packs of Biscuits</ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" id="resource-toggle2" class="padding">1.5L Water</ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" id="resource-toggle3" class="padding">3 Easy-Open Canned Goods</ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" id="resource-toggle5" class="padding">Batteries</ion-toggle>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/jy1DCiP5Rs6sY5G4plTZ_ScreenShot2017-01-17at11.08.44AM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>