<ion-view title="Trends" id="page4" style="background-color:#2184C0;">
  <ion-content padding="true" class="has-header">
    <form id="trends-form1" class="list">
      <label class="item item-select" id="trends-select1">
        <span class="input-label">Trends</span>
        <select>
          <option>Occupancy</option>
          <option>Resources</option>
          <option>Calamity</option>
          <option>Evacuation</option>
        </select>
      </label>
    </form>
    <div>
      <img src="img/R3MXrqhERG24mLtIS6mV_ScreenShot2017-01-17at11.33.26AMcopy.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>