<!--Trends -->
<ion-header>
  <ion-navbar color="red">
    <ion-buttons start>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Back</ion-label>
      </button>
    </ion-buttons>
    <ion-title> Trends </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list class="trendList">
    <ion-item>
      <ion-label>Trends</ion-label>
      <ion-select [(ngModel)]="trend" (ionChange)="trendChange()">
        <ion-option value="occupancy">Occupancy</ion-option>
        <!-- <ion-option value="resources">Resources</ion-option> -->
        <ion-option value="evacuation">Evacuation</ion-option>
        <ion-option value="flood">Flood hazards</ion-option>
        <ion-option value="earthquake">Earthquake hazards</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <!-- <ion-card>
    <img src="/assets/img/graph.png"/>
    <ion-card-header>San Francisco</ion-card-header>
    <ion-card-content>72 Listings</ion-card-content>
  </ion-card> -->
  <div #graph id="graph" *ngIf="trend == 'occupancy' || trend == 'evacuation'">
    <chart [options]="options"></chart>
  </div>
  <div *ngIf="trend == 'flood'">
    <ion-scroll zooming="true" scrollX="true" scrollY="true" style="width: 100%; height: 70vh;" class="map">
      <div style="width: 1142px; height: 1790px; background: url('/assets/img/flood.jpg') no-repeat;"></div>
    </ion-scroll>
  </div>
  <div *ngIf="trend == 'earthquake'">
    <ion-scroll zooming="true" scrollX="true" scrollY="true" style="width: 100%; height: 70vh;" class="map">
      <div style="width: 725px; height: 944px; background: url('/assets/img/earthquake.jpg') no-repeat;"></div>
    </ion-scroll>
  </div>
</ion-content>
